.navbar-bg { 
    background-color:#e3e9bd ;
}
.navbar-img{ 
    height: 40px;
    width: 40px;
}
.nav-link:hover { 
    color: #2b7d31 !important;
    font-weight: 700;
}
.custom-img {
    width: 600px !important;
    height: 350px !important;
    object-fit: cover; /* Taşma olursa kırpar */
}
.earth-friendly{ 
    background-color: #e3e9bd;
}
.testimonial { 
    background-color: rgb(231, 231, 231,0.5);
}
.footer{ 
    background-color:  #e3e9bd;
}
.our-founding{ 
    background-color:rgb(231, 231, 231,0.5); 
} 
.get-in-touch{ 
    background-color: rgb(231, 231, 231,0.5);
}
